name: Terraform Plan and Apply

on:
  workflow_dispatch:  # Adds a "Run workflow" button in Actions UI
    inputs:
      deployment_environment:
        description: 'Deployment environment to be used'
        required: true
        type: choice
        default: 'dev'
        options:  # Add others like 'staging', 'prod', etc... as they exist in the repo's "Environments"
          - dev
          - staging

env:  # Default stuff for all jobs
  TF_VERSION: '1.13.3'

jobs:

  terraform-plan:
    # Re-usable logic from `terraform-plan.yml` workflow
    name: Terraform Plan
    uses: ./.github/workflows/terraform-plan.yml  # This produces the plan artifact used by `terraform-apply` job below

    with:
        # Useful to point the right `terraform/env/**` subfolder, but also for the `environment:` selection of the inner `.yml`
        terraform_environment: ${{ github.event.inputs.deployment_environment }}  # Guided by `workflow_dispatch` inputs
    secrets:
        aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws_region: ${{ secrets.AWS_REGION }}

  terraform-apply:
    name: Terraform Apply
    runs-on: ubuntu-latest
    needs: terraform-plan

    # Points to the repo's "Environments": where I have hardcoded inputs or `secrets.Xxx` used  within this job
    environment: ${{ github.event.inputs.deployment_environment }}

    env:
      # The selected input will be `env.DEPLOYMENT` to match the `terraform/env/**` subfolders
      DEPLOYMENT: ${{ github.event.inputs.deployment_environment }}
      # Moving the GitHub environment-secrets to environments-variables for terraform to use later on
      AWS_REGION: ${{ secrets.AWS_REGION }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Download plan artifact
      uses: actions/download-artifact@v5  # See more at its repo https://github.com/actions/download-artifact?tab=readme-ov-file#inputs
      with:
        name: ${{ env.DEPLOYMENT }}-tfplan  # Created in the `terraform-plan` job at the `terraform-validate-plan.yml`
        path: terraform/

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: ${{ env.TF_VERSION }}

    - name: Terraform Init
      id: init
      run: |
        cd terraform
        terraform init \
          -backend-config="env/${{ env.DEPLOYMENT }}/backend.tfvars"

    - name: Terraform Apply
      id: apply
      run: |
        cd terraform
        terraform apply -auto-approve \
          "${{ env.DEPLOYMENT }}.tfplan"
